<body>
    <main>

        <aside>
            <h3 (click)="onClick()">Edificios</h3>
            <ul class="{{menu}}">
                <li><a href="">Hemisferic</a></li>
                <li><a href="">Museo de la Ciencias</a></li>
                <li><a href="">Oceanografic</a></li>
                <li><a href="">Palau de las Arts</a></li>
                <li><a href="">Umbracle</a></li>
            </ul>
        </aside>

        <article>
            <div>
                <h2 class="image" (mouseover)="onTitle($event)" (mouseout)="onMouseout($event)">La ciudad de las artes y
                    las ciencias</h2>

            </div>
            <div>
                <p>Ubicasa al final del viejo cauce del río Turia, la Cuidad de las Artes y las Ciencias es un complejo
                    arquitecto, cultural y de entretenimiento diseñado por Santiago Calatrava y Felix Candela, junto con
                    los ingenieros autores del diseño estructal de las cubiertas de L'Oceanografic Alberto Domiento y
                    Carlos Lázaro</p>
            </div>
        </article>

    </main>
</body>