*{
    font-family: Arial, Helvetica, sans-serif;
}


main{
    padding-left:350px ;
    padding-right: 400px;
    
}
aside{
    padding-left: 10px;
    float: left;
    width: 35%;
    
}
section{
    background-color: white;
}

article{
    padding-top: 10px;
    padding-left: 225px;
}

li{
    list-style: none;
}

h3{
    color: rgb(68, 66, 66);
}

.image{
    background-image: url('https://www.spain.info/.content/images/cabeceras-grandes/comunidad-valenciana/ciudad-artes-ciencias-noche-valencia-pexel256150.jpg');
    height: 400px;
    background-size: cover; /* Ajusta según sea necesario */
    background-position: center; /* Ajusta según sea necesario */
}

h2{
    padding-top: 40px;
    color: white;
}